<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="social-links">
        {%- if site.github -%}
        <a rel="me" href="https://www.linkedin.com/in/{{ site.linkedin | cgi_escape | escape }}" target="_blank" title="LinkedIn" style="text-decoration: none;">
          <img src="/assets/LinkedInLogo.png" width="30"/>
        </a>
        &nbsp;&nbsp;
        {%- endif -%}
        {%- if site.linkedin -%}
        <a rel="me" href="https://github.com/{{ site.github | cgi_escape | escape }}" target="_blank" title="GitHub" style="text-decoration: none;">
          <img src="/assets/GitHubLogo.png" width="30"/>
        </a>
        &nbsp;&nbsp;
        {%- endif -%}     
        {%- if site.email -%}
        <a rel="me" href="mailto:{{ site.email }}" title="GMail" style="text-decoration: none;">
          <img src="/assets/GMailLogo.png" width="30"/>
        </a>
        &nbsp;&nbsp;
        {%- endif -%}         
    </div>

</footer>